#!/bin/sh -e
#SHELL=$(basename ${SHELL:-bash})
. ${SHOOPSH:-/usr/bin/shoop.sh}
. ${SHOOPMOD:-/usr/share/shoop/modules}/use.sh

OBJECT . use rules_debian

DEBIAN . default_target =q build

DEBIAN . new SHOOP_base

SHOOP_base . bindir =q /usr/bin
SHOOP_base . moddir =q /usr/share/shoop/modules
SHOOP_base . docdir =q /usr/share/doc/shoop
SHOOP_base . empdir =q /usr/share/doc/shoop/examples

SHOOP_base . newpkg SHOOP
SHOOP_base . newpkg SHOOP_doc

SHOOP . prefix =q $CURDIR/debian/tmp
SHOOP_doc . prefix =q $CURDIR/debian/shoop-doc

SHOOP . pkg =q shoop
SHOOP_doc . pkg =q shoop-doc

SHOOP . bins =q \
	shoop.sh\

SHOOP_doc . docs =q \
	AUTHORS\
	CONTRIBUTING\
	COPYING\
	MODULES\
	README\
	TODO\

SHOOP_doc . examples =q \
	example.sh\

SHOOP . modules =q \
        destroy.sh\
        final.sh\
        introspect.sh\
        prettyprint.sh\
        serialize.sh\
        thread.sh\
        use.sh\

DEBIAN . build : '
'

DEBIAN . processcmdline "$@"

#SHOOP . install
#SHOOP_doc . install
